body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #fff;
    background: #0e6fa8;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    position: absolute;
    width: 100%;
    z-index: 10;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.logo {
    font-weight: 700;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(
        rgba(0,0,0,0.1),
        rgba(0,0,0,0.1)
    ),
        url("../hero.png") center/cover;
    display: flex;
    align-items: center;
}

.hero-content {
    padding-left: 80px;
    max-width: 500px;
}

.hero h1 {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 10%;
    text-shadow: -4px 4px 0 rgba(116, 116, 116, 0.54);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #606060;

}

.hero h1 span {
    color: #0DA9FF;
    text-decoration: underline;
    text-decoration-color: #0DA9FF;
}

.hero p {
    margin: 15px 0 25px;
}

/* BUTTONS */
.btn {
    padding: 10px 25px;
    border-radius: 25px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    background: #549E39;
    font-size: em;
}

.explore {
    color: #white;

}

.secondary {
    background: #38c172;
    color: #003b5c;
}

.offerings {
    background: #549E39;
    padding: 6px 15px;
}

/* WHO WE ARE */
.who-we-are {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: #0b5c8a;
    padding: 60px;
}

.who-we-are h2 {
    font-size: 2.2rem;
}

/* BUNDLES */
.bundles {
    padding: 60px;
    background: #0e6fa8;
    text-align: center;
}

.bundle-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.card {
    background: #0b5c8a;
    padding: 30px;
    border-radius: 20px;
    width: 280px;
}

.card h3 {
    margin-bottom: 10px;
}

.price {
    font-weight: 600;
    margin-bottom: 20px;
}

.card ul {
    list-style: none;
    margin-bottom: 25px;
}

.card li {
    margin: 8px 0;
}

.premium {
    background: #1b7fb5;
}

/* TESTIMONIALS */
.testimonials {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background: #0b5c8a;
}

.testimonial {
    max-width: 250px;
    font-size: 0.9rem;
}

.testimonial strong {
    display: block;
    margin-top: 10px;
}
