body, p, li {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-family: 'Bebas Neue', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background: #FFDAAE;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    position: absolute;
    width: 100%;
    z-index: 10;
}
.navlink {
    font-family: 'Roboto', sans-serif;
}

.navbar a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-size: 32px;
}

.logo {
    font-weight: 700;
}

/* HERO */
.hero {
    height: 900px;
    background: url("../hero.png") center/cover;
    display: flex;
    background-attachment: fixed;
/*    align-items: center;*/
}

.hero-content {
    padding-left: 80px;
    max-width: 2000px;
}

.hero h1 {
    padding-top: 180px;
    font-size: 96px;
    font-weight: 600;
    letter-spacing: 10%;
    text-shadow: -4px 4px 0 rgba(116, 116, 116, 0.54);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #606060;
}

.hero h1 span {
    color: #0DA9FF;
    text-decoration: underline;
    text-decoration-color: #0DA9FF;
}

.hero p {
    margin: 15px 0 25px;
    font-size: 40px;
    text-shadow: -4px 4px 4 rgba(0, 0, 0, 0.25);
}

/* BUTTONS */
.btn {
    padding: 10px 25px;
    border-radius: 25px;
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
    background: #549E39;
    font-size: em;
    font-family: 'Bebas Neue', sans-serif;
}

.explore {
    color: white;
}

.secondary {
    background: #0086D0;
    color: white;
}

.offerings {
    background: #549E39;
    padding: 6px 15px;

}

/* WHO WE ARE */
.who-we-are {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: #0b5c8a;
    padding: 60px;
}

.who-we-are h2 {
    font-size: 2.2rem;
}

/* BUNDLES */
.bundles {
    padding: 60px;
    text-align: center;
    background: url("../bundlebg.png") center/cover;
}

.bundles h2{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 96px;
    letter-spacing: 10%;
    text-shadow: -5px 5px 0 rgba(255, 255, 255, 0.25);
}

.bundle-cards {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
}

.card {
    background: #549E39;
    /*padding: 10px;*/
    /*padding-bottom: 30px;*/
    border-radius: 40px;
    width: 465px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card h3 {
    margin-bottom: 8px;
    font-size: 33px;
}

.price {
    font-weight: 600;
    margin-bottom: 20px;
}

.premium {
    background-color: #63AA49;
}

.card ul {
    list-style: none;
    margin-bottom: 25px;
}

.card li {
    margin: 8px 0;
    font-size: 32px;
}

.card-header {
    background: rgba(255, 255, 255, 0.45);
}

.card-body {
    flex: 1;
}

.card-footer {
    display: flex;
    justify-content: center;
}

/* TESTIMONIALS */
.testimonials {
    display: flex;
    justify-content: space-around;
    padding: 50px;
    background: url(../testimonialbg.png);
    background-size: cover;
    color: black;
}

.testimonial {
    max-width: 400px;
    font-size: 0.9rem;
    background-color: rgba(255, 255, 255, 0.34);
    border: 2px solid grey;
    padding: 10px;
    border-radius: 30px;
    backdrop-filter: blur(25px);
}

testimonials name{
    color: rgba(56, 56, 56, 1);
}

.testimonial strong {
    display: block;
    margin-top: 10px;
}

.who-section {
    position: relative;
    height: 280px;
    overflow: hidden;
}

/* curved darker shape */
.who-section::before {
    content: "";
    position: absolute;
    left: -200px;
    top: 0px;
    width: 65%;
    height: 200%;
    background: #0A7D00;
    z-index: 3;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
}

/* content layout */
.who-content {
    position: relative;
    background: #549E39;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

/* left title */
.who-content h2 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 96px;
    letter-spacing: 12%;
    z-index: 10;
    text-shadow: -5px 5px 0 rgba(255, 255, 255, 0.25);

}

/* right text */
.who-content p {
    max-width: 50%;
    text-align: right;
    font-size: 32px;
    line-height: 1.5;
}

